{
    "bot": {
        "token": "",
        "prefix": "h."
    },
    "administration": {
        "maximum_warnings": 2
    },
    "branding": {
        "status": "idle",
        "activity": {
            "type": "watching",
            "content": "You"
        }
    }
}